.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.add-member-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.add-member-form div {
  margin: 10px 0;
}

.add-member-form label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

.add-member-form input[type="text"],
.add-member-form input[type="email"] {
  width: 200px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-member-form button[type="submit"] {

  width: 80px;
  height: 30px;
  margin-top: 20px;
  background-color: lightblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-member-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  margin-top: 20px;
  background-color: lightblue;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.member-table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 80%;
}

.member-table th,
.member-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.member-table th {
  background-color: lightblue;
  color: #fff;
}

